* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

body {
    background: #333;
}

.container {
    padding: 100px 40px;
    text-align: center;
    color: white;
    background: url(Assets/03.PNG) no-repeat center;
    background-size: cover;
}

.container p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 500;
}

.sub {
    height: 40px;
    display: flex;
    justify-content: center;
}
